autopep8==1.6.0
certifi==2020.6.20
click==8.0.4
colorama==0.4.4
decorator==4.4.2
Flask==2.0.3
# Flask-Cors==3.0.10
gunicorn==20.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
jellyfish==0.9.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
networkx==2.5.1
nltk==3.6.7
numpy
pycodestyle==2.8.0
regex==2022.3.15
scikit-learn==0.24.2
scipy
segtok==1.5.11
six==1.16.0
tabulate==0.8.9
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.63.1
typing_extensions==4.1.1
Werkzeug==2.0.3
wincertstore==0.2
yake @ git+https://github.com/LIAAD/yake.git@238ae58c5ba39326a96862ee0e9cb817e5958440
zipp==3.6.0
